<div class="container mt-4">
  <div class="d-flex justify-content-between mb-4 admin-panel-header">
    <h2 >Admin Panel - Product List</h2>
    <button class="btn btn-primary" type="submit" routerLink="/add-product">
      Add New Product
    </button>
  </div>
  <!-- Loading -->
  <div *ngIf="loading" class="alert alert-info">Loading products...</div>
  <!-- Error -->
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <!-- Products Table -->
  <table class="table table-bordered table-striped" *ngIf="!loading && !error">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Title</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products" class="align-baseline">
        <td>{{ product.id }}</td>
        <td class="align-content-center text-center"><img [src]="product.image" alt="Product Image" width="60"></td>
        <td class="align-content-center text-start">{{ product.title }}</td>
        <td class="align-content-center text-center">{{ product.price | currency }}</td>
        <td class="align-content-center text-center">
          <button class="btn btn-warning btn-lg me-lg-3 mb-lg-0 mb-2 " [routerLink]="['/add-product', product.id]" >Edit</button>
          <button class="btn btn-danger btn-lg " (click)="deleteProduct(product.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>