.admin-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-panel-header button {
    padding: 10px 15px;
}

.product-row-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:520px) {
    .admin-panel-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .product-row-buttons{

    }
}

.edit-btn {
    background: white;
    color: black;
    border: none;
    padding: 10px 30px ;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: background 0.2s;
    flex: 1;
    max-width: 150px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }

  
  .edit-btn:disabled {
    background: #6c757d;
    cursor: not-allowed;
  }

  .delete-btn {
    background: black;
    color: white;
    border: none;
    padding: 10px 30px ;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: background 0.2s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    font-weight: 500;
    
  }

  .delete-btn:hover {
    background: #333;
  }